* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    text-align: center;
}
header{
    padding: 50px;
    }
body{
    background-color: lightgreen;
    background-image: url(images\pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.topDiv{
    background: rgb(168, 24, 24);
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.pageviews{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
.number{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: none;
}
.price{
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}
.range{
    width: 100%;
    margin: 20px;
    position: relative;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    background: rgb(168, 24, 24);

    
}
.monthlyBilling{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}
.yearlyBilling{
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}
.discount{
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}
input[type='range']:focus {
    outline : none;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb{
    background-color: hsl(174, 86%, 45%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -14px;
}
input[type=range]::-moz-range-thumb{
    background-color: #777;
    width: 10%;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;

}
input[type=range]::-ms-thumb{
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
}
input[type=range]::-webkit-slider-runnable-track{
    background-color: hsl(174, 77%, 80%);
    height: 2px;
    border-radius: 15px;
    padding: 4px;
}
input[type=range]:focus::-webkit-slider-runnable-track{
    outline: none;
}
input[type=range]::-moz-range-track{
    background-color: #777;
    height: 3px;
}
input[type=range]::-ms-track{
    background-color: #777;
    height: 3px;
}
input[type=range]::-ms-fill-lower {
    background-color: HotPink
  }
  
input[type=range]::-ms-fill-upper {
    background-color: black;
} 


